/* borders of table */
/* table, th, td {
  border: 1px solid black;
} */

th{
  width: 33.3%;
}

.gray {
  background-color: rgb(207, 195, 195);
}

.white{
  background-color: rgb(255, 255, 255);
}

.removed{
  display: inline;
}
