.mark{
    position: relative;
    padding: 15px;
    width: 25%;
    display: inline-block;
    height: 20px;
}

.model{
    position: relative;
    padding: 15px;
    width: 25%;
    display: inline-block;
    height: 20px;
}

.rating_num{
    position: relative;
    padding: 15px;
    display: inline-block;
    height: 20px;
}

.rating{
    z-index: 1;
    display: inline-block;
    width: 20%;
}

.addRating{
    position: relative;
    top: 10px;
    padding: 5px;
    display: inline-block;
    height: 20px;
}

.subRating{
    position: relative;
    top: 10px;
    padding: 5px;
    display: inline-block;
    height: 20px;
}

.photo{
    position: relative;
    top: 25px;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    padding: 5px; 
    height: 50px;
}

.singleCar{
    border: black;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    margin: 2px;
    height: 100px;
    width: 80%;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;

}

.deleteElement{
    position: absolute;
    width: auto;
    display: inline-block;
    margin-bottom: 34px;
    margin-top: 34px;
    margin-left: 20px;
    margin-right: 20px;
    right: 12.5%;
}
