.header {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 30px;
  }

  .addElement{
    position: absolute;
    right: 10px;
    top: 10px;
  }